/* All Changes */

* {
  margin: 0%;
  padding: 0%;
}

/* Header Section CSS */

header {
  background-color: #116a9e;
}

.navbar-brand img {
  width: 150px;
}

.nav-link {
  color: white !important;
}

.navbar-light .navbar-toggler {
  border: 1px solid #fff;
  color: white;
  outline: none;
}

/* Header Ends Here */

/* banner start here */

.phone {
  display: none;
}

/* banner ends here */

/* Discount Section Here */

.discount {
  padding: 50px 0px 0px 0px;
  background-color: #f3f5f5;
}

.discount-box ul li {
  list-style: none;
  position: relative;
  line-height: 2rem;
}

.discount-box ul li::before {
  content: url(image/discount-para.png);
  display: inline-block;
  position: absolute;
  top: 10%;
  left: -8%;
  width: 100%;
}

.discount-para-heading {
  font-weight: 500;
  color: #34495e;
}

.discount-para-para {
  margin-top: -20px;
  font-size: 0.9rem;
}

.discount-container {
  margin: 70px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Discount Ends Here */

/* Links To Other Services */

.links-to-other {
  margin: 30px 0px;
}

.links-to-other-page {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.links-to-other-page-box {
  text-align: center;
  height: 100px;
  width: 100px;
}

.loan-para,
.loan-para-1 {
  color: #34495e;
}

.links-to-other-page-box:hover .loan-para {
  color: #34495e;
}

.links-to-other-page-box:hover .loan-para-1 {
  color: #34495e;
}

.links-to-other-page-box img {
  width: 37px;
}

.links-to-other-page-box a {
  text-decoration: none;
}

.loan-para {
  margin-top: 17px;
}

.loan-para-1 {
  margin-top: 10px;
}

.links-to-other-page ul li {
  display: inline-block;
}

.links-to-other i {
  color: #116a9e;
  font-size: 2.3rem;
}

/* Links Ends Here */

/* Section Heading & Section Para Here */

.section-heading {
  color: #34495e;
  text-align: center;
}

.section-para {
  text-align: center;
  color: #858e99;
  margin-top: -10px;
}

/* Section Heading & Section Para End Here */

/* Why Us Start From Here */

.why-us {
  background-image: linear-gradient(0deg, #3ab2ee 70%, #44c5ff 70%);
  padding: 20px 0px;
}

.why-us-info {
  padding: 20px 0px;
}

.why-us-img {
  text-align: center;
}

.why-us-img img {
  max-width: 100%;
}

.section-heading-color {
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
}

.section-para-color {
  color: #fff;
  text-align: center;
}

.section-para-1 {
  width: 80%;
  margin: auto;
}

/* Why Us Ends Here */

/* Product Start from here */

.products {
  margin: 50px 0px;
}

.product-container {
  display: flex;
  width: 80%;
  margin: 50px auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-box {
  margin: auto;
  width: 300px;
  height: 300px;
}

.product-heading {
  margin-top: 5px;
  color: #006a9e;
  font-weight: 700;
}

.product-para {
  color: #858e99;
  font-size: 0.9rem;
  margin-top: -10px;
  text-align: justify;
}

/* Product Ends Here */

/* Footer Start From Here */

footer {
  background: #116a9e;
  padding: 50px 0px;
}

.footer-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0px;
  border-bottom: 1px solid #fff;
}

.footer-box {
  width: 20%;
}

.footer-info .footer-logo {
  width: 150px;
}

.footer-info p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #d9dbe1;
  margin-top: 10px;
  text-align: justify;
}

.footer-social-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-link h2 {
  color: #fff;
  font-size: 1rem;
}

.footer-social-links a {
  text-decoration: none;
}

.footer-link {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.footer-link a {
  color: #d9dbe1;
  font-size: 0.8rem;
  text-decoration: none;
}

/* Footer Ends Here */

/* Home page Ends Here */

/* credit card page start here */

/* Bank Type Start Here */

/* Bank Type Ends Here */

.bank-header {
  margin-bottom: 100px;
}

.bank-header-heading {
  color: white;
  background-color: #34495e;
  padding: 15px 0px;
  text-align: center;
}

.bank-header-para {
  text-align: center;
  font-size: 1.4rem;
  color: #34495e;
  font-weight: 500;
}

.bank-type-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bank-type-box {
  width: 150px;
  margin: 15px;
  border-radius: 11px;
  box-shadow: 0px 0px 6px 6px lightgray;
  height: 150px;
  transition: all 0.4s ease-in-out;
}

.bank-type-box input {
  margin: 20px 0px 10px 64px;
}

.bank-type-box:hover {
  border-radius: 11px;
  background-color: #1abc9c;
}

.bank-type-box:hover .bank-name {
  color: white;
}

.bank-image {
  background-image: url(image/bank.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 39%;
}

.bank-name {
  color: #34495e;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 37px;
  transition: all 0.4s ease-in-out;
}

.bank-submit-button {
  text-align: center;
  margin: 30px 0px;
}

.bank-submit-button input {
  padding: 10px 30px;
  background-color: #1abc9c;
  border: none;
  color: white;
}

#myradio {
  accent-color: green;
}

input[type="radio"] {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
}

/* Card Type */

.credit-card-header {
  margin-bottom: 100px;
}

.credit-card-header-heading {
  color: white;
  background-color: #34495e;
  padding: 15px 0px;
  text-align: center;
}

.credit-card-header-para {
  text-align: center;
  font-size: 1.4rem;
  color: #34495e;
  font-weight: 500;
}

.credit-card-type-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.credit-card-type-box {
  width: 150px;
  margin: 15px;
  border-radius: 11px;
  box-shadow: 0px 0px 6px 6px lightgray;
  height: 150px;
  transition: all 0.4s ease-in-out;
}

.credit-card-type-box input {
  margin: 20px 0px 10px 64px;
}

.credit-card-type-box:hover {
  border-radius: 11px;
  background-color: #1abc9c;
}

.credit-card-type-box:hover .credit-card-name {
  color: white;
}

.credit-card-type-box:hover .credit-card-image {
  background-color: #fff;
}

.credit-card-image {
  background-image: url(image/visa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 34%;
}

.credit-card-name {
  color: #34495e;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 52px;
  transition: all 0.4s ease-in-out;
}

.credit-card-submit-button {
  text-align: center;
  margin: 30px 0px;
}

.credit-card-submit-button input {
  padding: 10px 30px;
  background-color: #1abc9c;
  border: none;
  color: white;
}

#myradio {
  accent-color: green;
}

input[type="radio"] {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
}

/* card Type ends here */

/* Card Form Start Here */

.form {
  margin: 40px 0px;
}

.row {
  justify-content: space-evenly;
  width: 100%;
}

/* Card Form Ends Here */

/* credit card page ends here */

/* contact Us page start here */

.contact-heading {
  color: #fff;
  background-color: #34495e;
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 30px;
}

.message-btn {
  background-color: #34495e;
  border: none;
}

.message-btn:hover {
  background-color: #34495e;
}

.map {
  margin-top: 22px;
}

/* contact us page ends here */

/* service page start here */

.services-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(image/service-banner.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 80vh;
  text-align: center;
}

.services-info {
  text-align: center;
  padding-top: 130px;
}

.services-info p,
h1 {
  color: white;
}

.services-info h1 {
  font-size: 3.5rem;
}

.services-info p {
  font-size: 1.4rem;
}

.line {
  width: 330px;
  height: 0.2rem;
  background-color: #fff;
  display: inline-block;
}

.loan-card {
  margin: 80px 0px;
}

.loan-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
}

.loan-info {
  text-align: center;
}

.loan-head {
  color: #f59019;
}

.loan-para {
  color: #212529;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn-primary {
  background-color: #116a9e;
  border: none;
  padding: 10px 25px;
  transition: all ease-in-out 0.3s;
}

.btn-primary:hover {
  color: #212529;
  background-color: #f59019;
}

.loan-box {
  padding-bottom: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 44px 0px rgb(218 218 218 / 90%);
}

/* service page ends here */

/* Media Quries Start From Here */

@media screen and (max-width: 992px) {
  .discount-container {
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
}

@media screen and (max-width: 850px) {
  .discount-container {
    display: flex;
    flex-direction: column;
  }

  .discount-box ul li {
    width: 90%;
    margin: auto;
    text-align: justify;
  }

  .discount-box {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer-box-1 {
    display: flex;
    justify-content: flex-start;
    width: 33%;
    margin: 44px;
  }

  .services-info h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .footer-container {
    width: 100%;
  }

  .footer-box {
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  .footer-box {
    width: 70%;
    margin: 30px auto;
  }
}

@media screen and (max-width: 400px) {
  .discount-box ul li {
    width: 85%;
    margin: auto;
  }

  .contact-form {
    width: 90% !important;
    margin: auto !important;
  }

  .discount-para-heading {
    font-size: 0.9rem;
  }

  .section-heading {
    font-size: 1.2rem;
  }

  .phone {
    display: inline-block;
  }

  .desktop {
    display: none;
  }

  .section-para {
    font-size: 0.9rem;
  }

  .discount-para-para {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  .discount-box ul li::before {
    top: 10px;
    left: -28px;
  }

  .bank-type-container {
    width: 100%;
  }
  .credit-card-type-container {
    width: 100%;
  }

  .line {
    width: 200px;
    height: 0.1rem;
  }
}
/* Media Quries End  Here */
